.cardWrapper {
  background-color: var(--secondary-dark);
  color: var(--primary-text-color);
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.cardWrapper p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
