.flex {
  display: flex;
  gap: 10px;
}

.flex-child {
  flex: 1 1 auto;
}

.password-form {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0px;
  border-radius: 5px;
}

.password-form label {
  font-size: 12px;
}

.password-form input,
.password-form textarea {
  width: 100%;
  padding: 2px 8px !important;
  margin-bottom: 0px;
  border: 0px !important;
  outline: none;
}

.password-form textarea {
  margin-bottom: 10px;
  border-radius: 3px;
}

.password-form .invalid {
  border-color: red;
}

.password-form button {
  background-color: #242424;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 3px !important;
  cursor: pointer;
}

.cancel {
  background-color: #ccc;
  color: #000;
  margin-left: 10px;
}

.password-form button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.password-form button:hover {
  background-color: #3f3f3f;
}
