.btn {
    background-color: var(--secondary-dark);
    color: var(--primary-text-color); /* White text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: var(--secondary-dark); /* Slightly darker color on hover */
  }
  