.password-form {
    width: 100%;
    margin: 0 auto;
    padding: 20px 0px;
    border-radius: 5px;
  }
  .password-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
  }
  .password-form input,
  .password-form textarea {
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
  }
  
  .password-form .invalid {
    border-color: red !important;
  }
  
  .password-form button {
    background-color: var(--btn-bg);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .cancel {
    background-color: #ccc;
    color: #000;
    margin-left: 10px;
  }
  
  .password-form button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  .password-form button:hover {
    background-color: var(--btn-bg-hover);
  }
  